<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"] - Example.ASP</title>
	<link rel="stylesheet"
		  href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
		  integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ"
		  crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link">
			<!-- Hamburger icon -->
			<span></span>
		</a>

		<div id="menu">
			<div class="pure-menu">
				<a class="pure-menu-heading" href="#">SpotifyAPI-NET ASP</a>

				<ul class="pure-menu-list">
					<li class="pure-menu-item @((string)ViewData["Page"] == "index" ? "pure-menu-selected" : "")">
						<a class="pure-menu-link" asp-page="Index">Home</a>
					</li>
					<li class="pure-menu-item @((string)ViewData["Page"] == "profile" ? "pure-menu-selected" : "")">
						<a class="pure-menu-link" asp-page="Profile">Profile</a>
					</li>
					<li class="pure-menu-item @((string)ViewData["Page"] == "game" ? "pure-menu-selected" : "")">
						<a class="pure-menu-link" asp-page="Game">Game</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="main">
			<div class="header">
				<h1>@ViewData["Title"]</h1>
				@if (ViewData["Description"] != null)
				{
					<h2>@ViewData["Description"]</h2>
				}
			</div>

			<div class="content">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
